*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2d3a4b;
}

body{
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

li{
    list-style: none;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}
.font-playfair{
    font-family: "Playfair", serif;
}

.text-orange{
    color: #f38509;
}
.text-yellow{
    color: #ffe115;
}

.bg-orange{
    background-color: #f38509;
}
.bg-yellow{
    background-color: #ffe115;
}

.fw-bold-600{
    font-weight: 600;
}

/* Top Bar ve Login */
.top-bar{
    /*background-color: #000;*/
    height: 50px;
}

.top-bar .login li{
    display: inline-block;
    padding: 0 15px;
}

.top-bar .login li a{
    line-height: 50px;
    font-size: 12px;
    text-transform: uppercase;
}

.user-basket .item-count{
    position: absolute;
    top: -10px;
    right: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 21px;
}

.top-bar .user-basket .dropdown-menu{
    padding: 20px;
    border: 0;
    border-radius: 0;
    min-width: 350px;
    top: 12px !important;
    right: 0 !important;
    left: auto !important;
    box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.3);
}

.top-bar .basket-buttons a{
    border-radius: 0 !important;
}

/* Sepetteki Scroll Bar */
.overflow-custom{
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

/* Kaydırma çubuğunun stili için webkit öneki */
.overflow-custom::-webkit-scrollbar {
    width: 5px; /* Kaydırma çubuğunun genişliği */
}
.overflow-custom::-webkit-scrollbar-thumb {
    background-color: #f38509; /* Kaydırma çubuğu başlığının rengi */
    border-radius: 5px; /* Kaydırma çubuğu başlığının köşe yuvarlanma yarıçapı */
}

/* HEADER - NAVBAR */
header{
    height: 130px;
    padding: 30px;
}
.logo{
    max-height: 70px;
}

header nav li.nav-item{
    margin: 0 5px;
    padding: 15px 0;
}

header nav li a.nav-link{
    font-size: 14px !important;
    font-weight: normal;
    /*color: #2d3a4b;*/
    text-transform: uppercase;
    margin: 0 10px;
    letter-spacing: 3px;

    position: relative;
    transition: all .3s linear;
}

header nav li a.nav-link:before{
    width: 0;
    margin: 0 auto;
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    top: 45%;
    z-index: -1;
    background-color: #ffe115;
    transition: 0.3s ease-in-out;
}

header nav li a.nav-link:hover:before{
    width: 100%;
}

header nav li.active a.nav-link:before{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    top: 45%;
    z-index: -1;
    background-color: #ffe115;
    transition: 0.3s ease-in-out;
}

.nav-right{
    margin-left: 20px;
    margin-top: -5px;
}
.nav-right i{
    font-size: 20px;
}

.zoom:before{
    transition: transform 1s ease;
}
.zoom:hover:before{
    transform: scale(1.5);
}

/* Menu dropdown */
.navbar-nav .dropdown{
    position: unset;
}
.navbar-nav .dropdown .dropdown-menu{
    width: 70%;
    left: 15%;
    padding: 30px;
    top: 105px;
}

.dropdown-menu a.dropdown-link{
    display: block;
    font-size: 14px;
}
.dropdown-menu a.dropdown-link:hover{
    color: #f38509;
}
.dropdown-toggle::after{
    display: none;
}
.navbar-column{
    border-right: 1px solid rgba(0,0,0, 0.16);
    padding-left: 35px;
}

.nav-brand-swiper img{
    max-height: 190px;
}

/* Search */
.search-inside{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 500;
}
.search-inside .position-center-center{
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0 20px;
}
.search-inside .search{
    display: inline-block;
    width: 100%;
    position: relative;
}

.search-inside .search input{
    background-color: #fff;
    font-size: 20px;
    color: #333;
    text-align: left;
    height: 60px;
    width: 100%;
    border: none;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.search-inside .search input:focus{
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search-inside .search button{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    margin-top: 0;
    background: none;
    line-height: 60px;
    height: 45px;
    width: 45px;
    border: none;
}

.search-inside .search-close{
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 40px;
    cursor: pointer;
    /*color: #fff;*/
}


/* Slider */
.slider{
    /*height: calc(100vh - 240px);*/
    height: 500px;
}

.slider,
.swiper-container,
.brand-swiper,
.season-product-swiper
{
    overflow-x: hidden;
}

.slider .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-swiper .swiper-button-prev,
.home-swiper .swiper-button-next{
    width: 100px;
    height: 100px;
    background-color: rgba(0 ,0 , 0, 0.5);
    color: #fff;
    transition: background-color .4s ease;
}

.home-swiper .swiper-button-prev:hover,
.home-swiper .swiper-button-next:hover{
    background-color: #fff;
    color: #000;
}

.slider-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
}
.slider-title h3{
    font-size: 55px;
    /*font-weight: 600;*/
}
.slider-title h2{
    font-size: 75px;
    text-align: center;
    /*font-weight: 600;*/
}

.slider-title a{
    border-radius: 0;
    font-size: 20px;
    padding: 10px 30px;
}

.title-wrapper{
    display: flex; /* Swipper wrapper ı flex yapısı kullan */
    flex-direction: column; /* Öğeleri dikey hizala */
    justify-content: center; /* İçeriği yatayta hizala */
    align-items: center; /* İçeriği dikeyde hizala */
}

/* Feature Brand Slider */
.feature-brands h3{
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Ters Renk */

.feature-brands .brand-swiper{
    height: 100px;
    line-height: 100px;
}

.feature-brands .brand-slider{
    transition: filter 0.3s, background-color 0.3s; /* normal duruma geçiş effecti*/
    background-color: #fff;
}
.feature-brands .brand-slider:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.5);
    transition: filter 0.3s, background-color 0.3s; /* üzerine gelindiğinde geçiş effecti*/
}
.feature-brands .brand-slider:hover img{
    filter: brightness(0) invert(1);
    /* Resmi betaz yapmak için */
    /* Parlaklığı azaltmak için 0 verdik. invert te rengi tersine çevirmek*/
}

.feature-brands .swiper-button-next,
.feature-brands .swiper-button-prev,
.feature-season-products .swiper-button-next,
.feature-season-products .swiper-button-prev
{
    top: 14px;
    bottom: auto;
    width: 40px;
    height: 40px;
    text-align: center;
}

.feature-brands .swiper-button-next:after,
.feature-brands .swiper-button-prev:after,
.feature-season-products .swiper-button-next:after,
.feature-season-products .swiper-button-prev:after
{
    font-size: 15px;
    color: #2d3a4b;
}

.feature-brands .swiper-button-next:hover,
.feature-brands .swiper-button-prev:hover,
.feature-season-products .swiper-button-next:hover,
.feature-season-products .swiper-button-prev:hover
{
    border-radius: 40px;
    border: 1px solid #2d3a4b;
}

.feature-brands .swiper-button-next,
.feature-season-products .swiper-button-next
{
    right: 25px;
    left: auto;
}
.feature-brands .swiper-button-prev,
.feature-season-products .swiper-button-prev
{
    right: 60px;
    left: auto;
}

/* Home Banner */
.feature-product-banner .banner{
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


/* Feature Season Products */
.feature-season-products{
    background-color: rgb(245 151 60 / 21%);
}

.wrapper-product .product-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrapper-product .product-tag{
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 10px;
    letter-spacing: 0.04em;
}
.wrapper-product .favorite,
.wrapper-product .un-favorite{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.wrapper-product .product-brand{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    padding-bottom: 2px;
    letter-spacing: 1px;
}

.wrapper-product .product-info .product-title{
    font-size: 19px;
    margin-bottom: 0;
}

.wrapper-product .product-info .product-description{
    font-size: 14px;
}
.wrapper-product .product-info .product-price{
    font-weight: 500;
    font-size: 14px;
}

footer{
    background-color: #171e27;
    padding: 90px 0;
}
footer h6{
    letter-spacing: 0.2em;
    margin-bottom: 40px;
}
footer ul{
    padding-left: 0;
}
footer li a{
    font-size: 12px;
    color:#999;
    line-height: 26px;
    display: inline-block;
}
footer li a:hover{
    color:#fff;
}